.warp {
    height: 100%;
    position: relative;
    .header {
        height: @linkfin-header-height;
        background-color: @linkfin-header-bgcolor;
        padding: 0;
        position: relative;
        z-index: 99;
    }
    .sider {
        div[class~="linkfin-layout-sider-children"] {
            overflow: auto;
            padding-bottom: 20px;
        }
    }
    .content {
        // margin: 15px;
        // padding: 15px;
        display: flex;
        flex-direction: column;
        .breadcrumb {
            // margin-bottom: 10px;
            box-shadow: 0 4px 12px 0 hsla(0, 0%, 62%, 0.1);
            background: @linkfin-content-bgcolor;
            height: 48px;
            line-height: 48px;
            display: flex;
            align-items: center;
            padding: 0 0 0 24px;
        }
        .main {
            margin: 10px;
            background: @linkfin-content-bgcolor;
            flex: 1;
            overflow: auto;
            overflow-x: hidden;
            padding: 20px;
        }
    }
    .spin {
        position: fixed;
        z-index: 10003;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(64, 55, 55, 0.1);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
}
