.warp {
  height: 100%;
  .header {
    height: @header-height;
    background-color: @header-bgcolor;
    padding: 0;
  }
  .sider {
    background-color: @sider-bgcolor;
  }
  .content {
    background: @content-bgcolor;
    margin: 15px;
    padding: 15px;
    .breadcrumb {
      margin-bottom: 10px;
    }
  }
}
