.upload {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;

	div[class*="ant-upload-list-text"] {
		display: flex;
		flex-direction: column;
	}
	&-picture-btn {
		display: flex;
		align-items: center;
		flex-direction: column;
		&-icon {
			font-size: 20px;
		}
	}
}

.over-write-style {
	* {
		margin: 0;
		display: flex;
		align-items: center;
	}
}
