.upload {
    display: flex;
    flex-direction: row;
    align-items: center;

    div[class*="linkfin-upload-list-text"] {
        width: 100%;
    }

    div[class*="linkfin-upload-list-text-container"] {
        div[class*="linkfin-upload-list-item"] {
            margin: 0;
        }
    }
}

.max-count {
    div[class*="linkfin-upload-select-text"] {
        display: none;
    }
    div[class*="linkfin-upload-select-picture-card"] {
        display: none;
    }
}
